form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 30px auto;
}

label {
  margin-bottom: 5px;
  color: white;
}

input, button {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #FDE8E9;
  border-radius: 4px;
  background-color: #FDE8E9;
  font-weight: bold;
  color: #000000;
}

button {
  cursor: pointer;
  background-color: #BC9EC1;
  color: #000000;
  font-weight: bolder;
  border: 1px solid #BC9EC1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #FDE8E9;
  color: #596475;
}

p {
  color: red;
}

.field {
  margin: 20px 0;
}

.label-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox-label {
  margin-left: 5px;
  color: white;
}

.checkbox-input {
  margin-right: 5px;
}